<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <h1 class="text-2xl lato-bold mb-7">Tableau de bord - <span class="underline">Liste des commandes</span></h1>
        
        <ng-container *ngIf="currentPageData$ | async as orders">
            
            @for (order of orders; track order ) {
                <div class="h-48-md mb-4 p-4 flex flex-col md:flex-row gap-2 rounded bg-gray-50 dark:bg-gray-800">
                    <div class="md:w-1/3 w-100">
                        <h3 class="bg-yellow-var rounded-md w-fit px-1 text-brown text-base lato-bold mb-1">Cde N°{{ order.id }}</h3>
                        <p class="bg-yellow-var rounded-md w-fit px-1 text-brown text-sm lato-bold">- {{ order.date | date:'dd/MM/yyyy' }} -</p>
                        <p class="text-brown text-base lato-semibold mb-2">
                            {{ order.customer.civility.abreviation }} {{ order.customer.lastname }} {{ order.customer.firstname }}
                        </p> 
                        <p class="text-brown text-sm lato-semibold mb-2">
                            {{ order.customer.city.name }}<br>{{ order.customer.city.zip_code }}
                        </p>
                    </div>
                    <div class="md:w-1/3 w-100">
                        <p class="text-brown text-base lato-bold">Lignes de commande</p>
                        <p class="text-brown text-sm lato-bold"><span class="underline">Total</span>: 
                            {{ order.orderLines | count }}
                        </p>
                        <p class="text-brown text-sm lato-bold"><span class="underline">En attente</span>: 
                            {{ order.orderLines | statusOrderLineCount:1 }}    
                        </p>
                        <p class="text-brown text-sm lato-bold"><span class="underline">En cours</span>: 
                            {{ order.orderLines | statusOrderLineCount:2 }}    
                        </p>
                        <p class="text-brown text-sm lato-bold"><span class="underline">Terminée</span>: 
                            {{ order.orderLines | statusOrderLineCount:3 }}    
                        </p>
                    </div>
                    <hr class="md:hidden">
                    <div class="md:w-1/3 w-100 flex-column">
                        <p class="text-brown text-base lato-bold mb-2">Voir les détails de la commande</p>
                        <div class="mb-4">
                            <a class="focus:outline-none btn-cta rounded-lg lato-bold px-5 py-1.5 me-2 mb-2 dark:focus:ring-yellow-900">Détails</a>
                        </div>
                        <p *ngIf="order.orderLines | checkIfOrderFinishedStatusLine; else elseTemplate" class="lato-bold text-sm px-2 text-white bg-yellow-500 rounded-md w-1/2">Commande en cours</p>
                        <ng-template #elseTemplate>
                            <p class="lato-bold text-sm px-2 text-white bg-green-600 rounded-md w-1/2">Commande terminée</p>
                        </ng-template>
                    </div>
                </div>
            }

            <div class="mx-auto flex justify-center w-2/3">

                <button type="button" *ngIf="currentPage$.value > 1" class="focus:outline-none btn-cta rounded-lg lato-bold px-5 py-1.5 me-2 mb-2 dark:focus:ring-yellow-900" (click)="prevPage()"><</button>

                <button type="button" class="focus:outline-none btn-cta rounded-lg lato-bold px-5 py-1.5 me-2 mb-2 dark:focus:ring-yellow-900" (click)="nextPage()">></button>

            </div>
        </ng-container>
 
        
    </div>
 </div>
