
    <div *ngFor="let category of categorylist$ | async; let i = index; trackBy: trackCategory" class="h-48-md mb-4 p-4 flex flex-col md:flex-row gap-2 rounded bg-gray-50 dark:bg-gray-800">
        <div class="md:w-1/3 w-100">
            <h3 class="bg-yellow-var rounded-md w-fit px-1 text-brown text-base lato-bold mb-1">{{ category.name }}</h3>
        </div>
        <div class="md:w-1/3 w-100">
            <p class="text-brown text-base md:text-center text-right lato-bold">{{ category.coef_price }}</p>
        </div>
        <div class="md:w-1/3 w-100 flex-column">
            <div *ngFor="let attribution of category.attributionPrestationCategories">
                <p *ngFor="let prestation of attribution.Prestation" class="text-brown text-sm text-left md:px-14 lato-bold">{{ prestation.name }}</p>
            </div>
        </div>
        <div class="h-full basis-1/3 flex md:justify-end">
            <button type="button" (click)="showModal(i)" class="focus:outline-none btn-cta hover:cursor-pointer text-sm px-4 py-2 rounded-lg lato-bold  dark:focus:ring-yellow-900">Modifier/supprimer</button>
        </div>
        <app-category-form [idCategory]="category.id" [i]="i"></app-category-form>
    </div>

