<div class="p-4 sm:ml-64">
    <div *ngIf="order$" class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <h1 class="text-2xl lato-bold mb-7">Tableau de bord - Détails commande n°{{ order$.id }}</h1>
    
        <div class="border my-4 px-4 rounded-md w-fit bg-yellow-var text-brown lato-semibold">
            <p>Date de commande: {{ order$.date | date:'dd/MM/yyyy' }}</p>
        </div>
        <div class="border my-4 px-4 rounded-md w-fit bg-yellow-var text-brown lato-semibold">
            <p>Date de dépôt: {{ order$.deposit_date | date:'dd/MM/yyyy' }}</p>
        </div>

        <div class="flex justify-between md:flex-row flex-col">
            <div class="border my-4 p-5 md:w-1/2 rounded-md text-brown lato-semibold">
                <h3 class="text-base lato-bold mb-4">Informations client: </h3>
                <p class="text-xl rounded-md lato-bold bg-yellow-var text-brown p-2 w-fit">{{ order$.customer.civility.abreviation }} {{ order$.customer.firstname }} {{ order$.customer.lastname }}</p>
    
                <div class="flex border my-4 px-4 rounded-md w-fit bg-yellow-var text-brown lato-semibold">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M7.978 4a2.553 2.553 0 0 0-1.926.877C4.233 6.7 3.699 8.751 4.153 10.814c.44 1.995 1.778 3.893 3.456 5.572 1.68 1.679 3.577 3.018 5.57 3.459 2.062.456 4.115-.073 5.94-1.885a2.556 2.556 0 0 0 .001-3.861l-1.21-1.21a2.689 2.689 0 0 0-3.802 0l-.617.618a.806.806 0 0 1-1.14 0l-1.854-1.855a.807.807 0 0 1 0-1.14l.618-.62a2.692 2.692 0 0 0 0-3.803l-1.21-1.211A2.555 2.555 0 0 0 7.978 4Z"/>
                      </svg>
                      <p>{{ order$.customer.phone }}</p>
                </div>
                
                <div class="flex border my-4 px-4 rounded-md w-fit bg-yellow-var text-brown lato-semibold">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M17 6h-2V5h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2h-.541A5.965 5.965 0 0 1 14 10v4a1 1 0 1 1-2 0v-4c0-2.206-1.794-4-4-4-.075 0-.148.012-.22.028C7.686 6.022 7.596 6 7.5 6A4.505 4.505 0 0 0 3 10.5V16a1 1 0 0 0 1 1h7v3a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-3h5a1 1 0 0 0 1-1v-6c0-2.206-1.794-4-4-4Zm-9 8.5H7a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2Z"/>
                      </svg>
                      {{ order$.customer.email }}
                </div>
    
                <p class="border my-4 p-4 rounded-md w-fit bg-yellow-var text-brown lato-semibold">{{ order$.customer.address }}<br>{{ order$.customer.city.name }} {{ order$.customer.city.zip_code }}</p>
            </div>


            <div class="border my-4 p-5 md:w-1/3 flex flex-col items-end rounded-md text-brown lato-semibold">
                <h3 class="text-base lato-bold mb-4">Mode de paiment: </h3>
                <p class="text-xl rounded-md lato-bold bg-yellow-var text-brown p-2 w-fit">{{ order$.payment_mode.name }}</p>
                <p class="text-brown border border-black rounded-lg my-20 px-5 py-2 text-xl text-right lato-bold"><span>Prix total net</span>: 
                    {{ totalNetOrder | totalOrder: order$.orderLines }} €    
                </p>
            </div>
        </div>


        <div *ngFor="let orderLine of order$?.orderLines; let i = index" class="h-48-md mb-4 p-4 flex flex-col md:flex-row gap-2 rounded bg-gray-50 dark:bg-gray-800">
            <div class="md:w-1/3 w-100">
                <h3 class="bg-yellow-var rounded-md w-fit px-1 text-brown text-sm lato-bold mb-1">#{{ i+1 }}</h3>
                <p *ngIf="orderLine.employee" class="text-brown text-base lato-bold"><span class="underline">Employé</span>: 
                    {{ orderLine.employee.firstname }}    
                </p>
                <p *ngIf="!orderLine.employee" class="text-brown text-base lato-bold">
                    Ligne non attribuée
                </p>
            </div>
            <div class="md:w-1/3 w-100">
                <p class="text-brown text-base lato-bold mb-5"><span class="underline">Prestation</span>: 
                    {{ orderLine.prestation.name }}    
                </p>
                <p class="text-brown text-base lato-bold"><span class="underline">Article</span>: 
                    {{ orderLine.product.name }}
                </p>
                <p class="text-brown text-base lato-bold"><span class="underline">Quantité</span>: 
                    {{ orderLine.qty }}    
                </p>
            </div>
            <hr class="md:hidden">
            <div class="md:w-1/3 w-100 flex-column">
                <p class="text-brown text-base text-center lato-bold mb-8"><span class="underline">Statut</span>: 
                    {{ orderLine.order_line_status.name }}    
                </p>
                <div class="border w-fit ml-auto border-black rounded-lg">
                    <p class="text-brown px-5 py-2 text-base text-right lato-bold"><span>Prix net</span>: 
                        {{ orderLine.price }} €    
                    </p>
                </div>

            </div>
        </div>

    
    </div>
 </div>

