<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <h1 class="text-2xl lato-bold mb-7">Espace Privé - <span class="underline">Gestion des employés</span></h1>
        <h2 class="text-2xl lato-bold mb-7">Liste des employés</h2>
       
            
            @for (employee of employees$ | async; track employee) {
            <div class="h-48 mb-4 p-4 grid grid-cols-3 gap-2 rounded bg-gray-50 dark:bg-gray-800">
                <div>
                    <h3 class="text-brown text-xl lato-semibold">{{employee.firstname}} {{employee.lastname}}</h3>
                    <p>{{ employee.email }}</p>
                    <p>{{ employee.phone }}</p>
                </div>
                <div>
                    
                </div>
                <div>
                    @for (orderLine of employee.orderLines; track orderLine) {
                        {{ orderLine }}
                    }
                    <p>Lignes de commandes attribuées: {{ employee.orderLines.length }}</p>


                </div>



            </div>

            }   


      
    </div>
 </div>
