
<section class="title mt-14 mb-16">
    <div class="container max-w-screen-xl mx-auto p-4">
        <div class="flex gap-4 mb-8">
            <h1 class="angkor-regular text-2xl md:text-5xl min-w-fit font-green">Au pli vert</h1>
            <div class="self-end bg-yellow h-1 w-screen">
                <img class="-mt-7 md:-mt-12 size-8 md:size-14" src="img/icon-park-outline_iron-two.png">
            </div>
        </div>
        <h2 class="w-full md:w-2/3 md:ml-auto satisfy-regular text-base text-right md:text-2xl font-green">Bienvenue dans votre pressing éco-responsable, où nous mettons la satisfaction de nos clients et le respect de l'environnemenet au centre de notre service de pressing.</h2>
    </div>
</section>
<section class="hero bg-brown">
    <div class="container max-w-screen-xl mx-auto px-4">
        <div class="flex items-center justify-between flex-col sm:flex-col md:flex-col lg:flex-row xl:flex-row">
            <div class="lg:w-1/2 h-full lg:order-2">
                <img class="h-auto" src="img/vieux-pressing.png" alt="Photo d'un vieux pressing">
            </div>
            <div class="flex flex-col lg:w-1/2 pr-6 pt-4">
                <div class="mb-6">
                    <h2 class="angkor-regular text-brown text-2xl mt-2">Un pressing accueillant et disponible.</h2>
                    <div class="bg-yellow mt-2 h-2 w-24"></div>
                </div>
                <div>
                    <p class="text-brown text-xl lato-regular mb-6">
                        Nous vous accueillons au plateau de la Croix-Rousse de 9h à 12h et de 14h à 19h, du mardi au samedi.
                    </p>
                    <div class="">
                        <p class="text-brown text-xl lato-regular mb-6">
                            Vous préférez être livré?<br>Nous vous proposons un service de livraison en vélo.
                        </p>
                    </div>
                    <p class="text-brown text-xl lato-regular mb-6">
                        Vous pouvez réserver en ligne votre dépôt ou nous contactez par téléphone ou par mail.
                    </p>

                </div>
            </div>

        </div>
    </div>
</section>

<!-- Services -->

<section class="bg-logo mb-32">
    <div class="container max-w-screen-xl mx-auto px-4 mt-14">
        <div class="mb-6">
            <h2 class="angkor-regular text-brown text-2xl mt-2">Nos services</h2>
            <div class="bg-yellow mt-2 h-2 w-24"></div>
        </div>
        <h3 class="text-brown text-xl lato-regular mb-6">
            Nous vous offrons un large choix de <span class="font-bold">services de pressing</span>.
        </h3>
        <h3 class="text-brown text-xl lato-regular mb-6">
            Avec une exigence <span class="text-2xl italic">"éco-standing"</span> pour nos cliens.
        </h3>

        <div class="mt-8 flex flex-col items-center">
            <div class="flex md:w-1/2 lg:w-1/2 w-full mb-4">
                <img class="h-auto circle2" src="img/chemises-blanches.jpg" alt="">
                <div class="-ml-8">
                    <div class="bg-yellow circle1"></div>
                    <div class="-mt-20 pl-10 z-1 sm:w-full md:w-1/2 lg:w-1/2">
                        <h3 class="text-brown text-xl lato-bold">Repassage classique</h3>
                        <p class="text-brown text-base lato-semibold mb-2">Vêtements, vêtements de travail, tenues de cérémonie </p>
                    </div>
                </div>
            </div>
            <div class="flex justify-end ml:0 md:ml-72 md:w-1/2 lg:w-1/2 w-full mb-4">
                <img class="h-auto circle2" src="img/chemises-blanches.jpg" alt="">
                <div class="-ml-8">
                    <div class="bg-yellow circle1"></div>
                    <div class="-mt-20 pl-10 z-1 sm:w-full md:w-1/2 lg:w-1/2">
                        <h3 class="text-brown text-xl lato-bold">Articles de maison</h3>
                        <p class="text-brown text-base lato-semibold mb-2">Rideaux, dessus de lits, couettes, tapis</p>
                    </div>
                </div>
            </div>
            <div class="flex md:w-1/2 lg:w-1/2 w-full mb-4">
                <img class="h-auto circle2" src="img/chemises-blanches.jpg" alt="">
                <div class="-ml-8">
                    <div class="bg-yellow circle1"></div>
                    <div class="-mt-20 pl-10 z-1 sm:w-full md:w-4/5 lg:w-4/5">
                        <h3 class="text-brown text-xl lato-bold">Blanchisserie</h3>
                        <p class="text-brown text-base lato-semibold mb-2">Draps, dessus de lits</p>
                    </div>
                </div>
            </div>
            <div class="flex md:justify-end md:ml-28 md:w-1/2 lg:w-1/2 w-full mb-4">
                <img class="h-auto circle2" src="img/chemises-blanches.jpg" alt="">
                <div class="-ml-8">
                    <div class="bg-yellow circle1"></div>
                    <div class="-mt-20 pl-10 z-1 sm:w-full md:w-4/5 lg:w-4/5">
                        <h3 class="text-brown text-xl lato-bold">Cuir et Daim</h3>
                        <p class="text-brown text-base lato-semibold mb-2">Vestes en cuir ou daim</p>
                    </div>
                </div>
            </div>
            <div class="flex md:w-1/2 lg:w-1/2 sm:w-full mb-4">
                <img class="h-auto circle2" src="img/chemises-blanches.jpg" alt="">
                <div class="-ml-8">
                    <div class="bg-yellow circle1"></div>
                    <div class="-mt-20 pl-10 z-1 sm:w-full md:w-1/2 lg:w-1/2">
                        <h3 class="text-brown text-xl lato-bold mb-2">Tâches difficiles ou besoin d’une petite retouche ?</h3>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</section>


<!-- Valeurs et engagements -->

<section class="valeurs mb-32">
    <div class="container max-w-screen-xl mx-auto px-4 mt-14">
        
        <div class="mb-10">
            <h2 class="angkor-regular text-brown text-2xl mt-2">Nos engagements</h2>
            <div class="bg-yellow mt-2 h-2 w-24"></div>
        </div>

        <div class="w-4/5 mx-auto rounded-lg bg-brown2 mb-10">
            <div class="mb-4 bg-2">
                <div class="flex flex-col md:flex-row">
                    <div class="w-full md:w-1/3 md:order-2">
                        <img class="rounded-t-lg md:rounded-r-lg" alt="Plante verte" src="img/plante-verte.jpg">
                    </div>
                    <div class="w-full md:w-2/3 md:order-1 flex justify-center items-center">
                        <div class="p-8">
                            <h4 class="text-brown text-xl lato-regular mb-5"><span class="font-bold">L’éthique</span> au service de la propreté.</h4>
                            <p class="text-base lato-regular">
                                Nous utilisons uniquement des produits sans danger pour l’environnement et d’origine biologique.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-4/5 mx-auto rounded-lg bg-brown2">
            <div class="mb-4 bg-2">
                <div class="flex flex-col md:flex-row">
                    <div class="w-full md:w-1/3 md:order-2">
                        <img class="rounded-t-lg md:rounded-r-lg" alt="Plante verte" src="img/velo-rue.jpg">
                    </div>
                    <div class="w-full md:w-2/3 md:order-1 flex justify-center items-center">
                        <div class="p-8">
                            <h4 class="text-brown text-xl lato-regular mb-5"><span class="font-bold">Des professionnels</span> respectueux de l’environnement.</h4>
                            <p class="text-base lato-regular">
                                Un engagement qui va plus loin que les produits utilisés : nous assurons un service de livraison à domicile excluvisement en vélo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="présentation mb-64">
    <div class="container max-w-screen-xl mx-auto px-auto mt-14">
        
        <div class="mb-10">
            <h2 class="angkor-regular text-brown text-2xl mt-2">Un couple dynamique</h2>
            <div class="bg-yellow mt-2 h-2 w-24"></div>
        </div>
    </div>

    <div class="max-w-screen-xl mt-14">

        <div class="w-full flex flex-col md:flex-row md:justify-between">

            <div class="bg-brown md:w-2/5 mt-4 h-full flex order-3 md:order-1">
                <img class="w-full" alt="" src="img/bg-logo2.png">
            </div>
            <div class="mb-5 md:-ml-60 bg-white self-center p-4 text-brown md:w-1/4 md:h-1/4 order-2">
                <p class="lato-regular">
                <span class="angkor-regular">Au pli vert</span> est un pressing de quartier géré par un couple de professionnels de la blanchisserie : Laetitia et Bernard.
                </p>
                <p class="lato-regula">
                Gérant de l’établissement depuis 8 ans, ce couple de lyonnais continue sans relâche de proposer un service de pressing au meilleur de sa qualité.
                </p>
            </div>

            <div class="w-2/3 md:w-1/4 self-end order-1 md:order-3">
                <img class="" alt="Photo de Bernard et Laetitia" src="img/laetitia-bernard.jpg">
            </div>

        </div>

    </div>

</section>