<section>
    <div class="container max-w-screen-xl mx-auto">
    
        <div class="mt-10 mb-20 mx-auto w-full">
            <h1 class="mx-auto mb-16 text-center lato-bold text-2xl text-brown">Biennvenue !<br>Vous êtes bien connecté(e), souhaitez-vous :</h1>

            <div class="mx-auto px-4 flex flex-col justify-center md:w-1/4 w-1/2">

                <a routerLink="/panier" *ngIf="cartItems.length > 0" class="btn text-sm btn-cta gap-2 md:text-xl px-4 py-1 mb-8 rounded-md lato-bold cursor-pointer text-center">
                    Valider mon panier
                </a>
                <a routerLink="/faire-un-dépot" *ngIf="cartItems.length == 0" class="btn text-sm btn-cta gap-2 md:text-xl px-4 py-1 mb-8 rounded-md lato-bold cursor-pointer text-center">
                    Résever un dépôt
                </a>
                <a routerLink="/espace-prive/client" class="btn text-sm btn-cta gap-2 md:text-xl px-4 py-1 mb-8 rounded-md lato-bold cursor-pointer text-center">
                    Visiter mon espace privé
                </a>
            </div>    

        </div>
    </div>
    

</section>

