
<section class="hero">
    <div class="waves"></div>
</section>
<footer class="bg-green shadow dark:bg-gray-900">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a routerLink="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="img/logo-au-pli-vert-fd-blanc.jpg" class="h-12" alt="Logo pressing Au pli vert" />
                <span class="self-center text-xl font-semibold whitespace-nowrap angkor-regular text-gray-200 dark:text-white pe-10">Au pli vert</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-base font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="lato-bold text-gray-200 rounded hover-text-yellow me-4 md:me-6">Nos prestations</a>
                </li>
                <li>
                    <a href="#" class="lato-bold text-gray-200 rounded hover-text-yellow me-4 md:me-6">Devenir client</a>
                </li>
                <li>
                    <a href="#" class="lato-bold text-gray-200 rounded hover-text-yellow me-4 md:me-6">Mentions légales</a>
                </li>
            </ul>
        </div>
        <div class="sm:flex sm:items-center sm:justify-between flex flex-col my-12 space-y-5">
            <div class="mb-4">
                <div class="text-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope-fill mx-auto" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                    </svg>
                    <p class="lato-bold text-xl text-center">
                        info[a]auplivert.com
                    </p>
                </div>
                <p class="lato-bold text-xl md:text-center text-gray-200 rounded">
                    Tel
                </p>
            </div>
            <div class="mb-10">
                <p class="lato-bold text-xl md:text-center text-gray-200 rounded">
                    Horaires
                </p>
                <p class="lato-semibold text-xl text-gray-200">
                    Du mardi au samedi de 9h à 12h et de 14h à 19h
                </p>
            </div>
            <div class="inline-flex space-x-5">
                <p class="lato-semibold text-xl text-gray-200 rounded">
                    Facebook
                </p>
                <p class="lato-semibold text-xl text-gray-200 rounded">
                    Instagram
                </p>
                <p class="lato-semibold text-xl text-gray-200 rounded">
                    Linkedin
                </p>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-200 lato-semibold sm:text-center dark:text-gray-400">© 2024 <a routerLink="/" class="hover:underline">Au pli vert - pressing éco-responsable</a>. Tous droits réservés.</span>
    </div>
</footer>

