<section>
    <div class="container max-w-screen-xl mx-auto">
    
        <div class="mt-10 mb-20 mx-auto w-full">
            <h1 class="mx-auto mb-24 text-center lato-bold text-2xl text-brown">Avant de choisir un mode de paiement, veuillez vous connecter ou créer un compte client :</h1>

            <div class="mx-auto px-4 flex flex-col justify-center md:w-1/4 w-1/2">
                <a routerLink="/inscription" class="btn text-sm btn-cta gap-2 md:text-xl px-4 py-1 mb-8 rounded-md lato-bold cursor-pointer text-center">
                    Créer un compte client
                </a>
                <a routerLink="/login" class="btn text-sm btn-cta gap-2 md:text-xl px-4 py-1 mb-8 rounded-md lato-bold cursor-pointer text-center">
                    Me connecter
                </a>
            </div>    

        </div>
    </div>
    

</section>
